# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
LangGraph_venv/

# Databases / checkpoints
*.db
*.sqlite
*.bin
*-checkpoint*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

.indices/
